@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url(./_reset.css);
@import url(./bootstrap.css);
@import url(./-utils.css);
@import url(./_components.css);
@import url(./registration.css);
@import url(./create-new.css);
@import url(./Details.css);
@import url(./Todays-task.css);
@import url(./Verification.css);
@import url(./Dashboard.css);

.mobil-container{
    width: 380px;
    margin: 0 auto;
    padding: 0 .4rem;
}


.header-bg{
z-index: -1;
top: 0;
}


.truncate{
    display:flex;
    flex-direction: column;
    width: 27rem;
    border-radius: 0.8rem;
    padding: 0.8rem;
}

.truncate span{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* تعداد خطوط کوتاه شده */
    -webkit-box-orient: vertical;
  }
